## environments
*.env

## evm

evm/*.log
evm/node_modules
evm/coverage
evm/coverage.json
evm/typechain
evm/typechain-types
evm/cache
evm/artifacts


# puzzlebox

puzzlebox/dist
puzzlebox/node_modules
